:root {
    --color-vibrant-border: hsl(0 0% 0% / 0.2);
    --color-vibrant-border1: hsl(0 0% 0% / 0.6);
    --type-min-width: 80px;
}

.typeBg {
    margin: 4px;
    padding: 4px;
    background: var(--type-color, #333);
    font-size: 1rem;
    text-align: center;
    line-height: 1.25;
    font-weight: 700;
    border-color: var(--color-vibrant-border);
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    text-shadow: 0 1px 0 #000,0 0 1px rgba(0,0,0,.6),0 0 2px rgba(0,0,0,.7),0 0 3px rgba(0,0,0,.8),0 0 4px rgba(0,0,0,.9);
    width: 30%;
}

.bTransparent {
    border-color: transparent;
    border-radius: 0.125rem;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: '0.25rem'
}

.col {
    float: left;
    padding-top: 7px;
    height: 22px;
    font-size: 0.85rem;
}

.tagCol {
    padding-top: 6px;
    height: 24px;
    width: 34px;
    border-right: 1px solid #ccc;
    margin-right: 5px;
    text-align: center;
    font-size: 10pt;
}

.moveNameCol {
    padding-top: 6px;
    height: 23px;
    width: 112px;
}

.typeCol {
    width: 70px;
}

.labelCol {
    text-align: center;
    width: 30px;
    margin-left: -2px;
}

.accLabelCol {
    text-align: center;
    width: 50px;
}

.ppLabelCol {
    text-align: center;
    width: 18px;
    padding-right: 5px;
}


.statBar {
    text-align: right;
}

.statBar span {
    display: block;
    background: #aaa;
    height: 18px;
    width: 50px;
    margin: 2px 0 0;
    border-radius: 2px;
    box-shadow: inset 1px 4px 0 rgb(255 255 255 / 40%), inset -1px -1px 0 rgb(0 0 0 / 30%);
}