{
  "extends": [
    "eslint:recommended",
    "plugin:@docusaurus/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "prettier/prettier": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest"]
}
