:root {
  --color-vibrant-border: hsl(0 0% 0% / 0.2);
  --color-vibrant-border1: hsl(0 0% 0% / 0.6);
  --type-min-width: 80px;
}

.typeBg {
  margin: 4px;
  padding: 4px;
  background: var(--type-color, #333);
  font-size: 1rem;
  text-align: center;
  line-height: 1.25;
  font-weight: 700;
  border-color: var(--color-vibrant-border);
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  text-shadow: 0 1px 0 #000,0 0 1px rgba(0,0,0,.6),0 0 2px rgba(0,0,0,.7),0 0 3px rgba(0,0,0,.8),0 0 4px rgba(0,0,0,.9);
  width: 30%;
}

.bTransparent {
  border-color: transparent;
  border-radius: 0.125rem;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: '0.25rem'
}

.col {
  float: left;
  padding-top: 7px;
  height: 22px;
  font-size: 0.85rem;
}

.evolutionContainer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
overflow-x: auto;
white-space: normal;
}

.scrollContent {
display: flex;
flex-direction: row;
align-items: center;
}

.scrollContent:first-child {
background-color: var(--ifm-table-cell-color);
border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.startPokemon {
display: flex;
width: 100px;
align-items: center;
justify-content: center;
margin: 17px;
}

.firstEvolution {
display: flex;
flex-direction: row;
align-items: stretch;
min-height: 340px;
}

.secondEvolution {
display: flex;
flex-direction: row;
align-items: stretch;
min-height: 340px;
}

.firstMethodContainer {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 300px;
max-width: 100%;
border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.secondMethodContainer {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 250px;
max-width: 100%;
border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.secondMethodContainer > * {
border-bottom: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.firstMethodContainer > * {
border-bottom: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.secondMethodContainer > :last-child {
border-bottom: none;
}

.firstMethodContainer > :last-child {
border-bottom: none;
}

.method {
flex: 1;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
width: 100%;
height: 170px;
}

.imageColumn {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 200px;
border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.imageColumn > * {
border-bottom: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.imageColumn > :last-child {
border-bottom: none;
}

.imageRow {
display: grid;
height: 170px;
width: 100%;
align-items: center;
justify-content: center;
}

.evolutionDetails:nth-child(odd) {
background-color: var(--ifm-table-cell-color);
}

.evolutionDetails:nth-child(even) {
background-color: var(--ifm-table-stripe-background);
}

.method:nth-child(odd) {
background-color: var(--ifm-table-cell-color);
}

.method:nth-child(even) {
background-color: var(--ifm-table-stripe-background);
}

.method img {
max-width: 100%;
height: auto;
display: block;
}

@media (max-width: 680px) {
.evolutionContainer {
  width: 100%;
  justify-content: center;
}
.scrollContent {
  flex-direction: column !important;
}
.scrollContent:has(.secondEvolution) .firstEvolution {
  flex-direction: row;
}
.scrollContent:has(.secondEvolution) .secondEvolution {
  flex-direction: row;
}
.scrollContent:has(.secondEvolution) .evolutionDetails {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
}
.evolutionDetails:only-child {
  width: 100% !important;
}
.scrollContent:has(.secondEvolution) .firstMethodContainer {
  flex-direction: row;
  width: 100%;
  border-bottom: none;
  max-width: 600px;
}
.scrollContent:has(.secondEvolution) .secondMethodContainer {
  flex-direction: row;
  width: 100%;
  border-bottom: none;
  max-width: 300px;
}
.scrollContent:has(.secondEvolution) .imageColumn {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  border-bottom: none;
  max-width: 600px;
}
.scrollContent:has(.secondEvolution) .imageColumn > * {
  border-bottom: none;
  border-right: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}
.scrollContent:has(.secondEvolution) .imageColumn > :last-child {
  border-right: none;
}
.scrollContent:has(.secondEvolution) .firstMethodContainer > * {
  border-bottom: none;
  border-right: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}
.scrollContent:has(.secondEvolution) .secondMethodContainer > * {
  border-bottom: none;
  border-right: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}
.scrollContent:has(.secondEvolution) .firstMethodContainer > :last-child {
  border-right: none;
}
.scrollContent:has(.secondEvolution) .secondMethodContainer > :last-child {
  border-right: none;
}
}