<link rel="stylesheet" href="style.css">
<body>
    <div class="content">
        <div class="canvasCol">
            <canvas id="myCanvas" height="720px" width="1244px" style="background: url('./images/sinnoh-\ updated.png')">
                Your browser does not support the canvas element.
            </canvas>
        </div>
        <div class="infoCol">
            Selected Route: <p id="selectedLocation"></p>
            Current Coords: <p id="currentCords"></p>
            Last Clicked Coords: <p id="lastClickedCoords"></p>
        </div>
    </div>
    <div id="encounterList">
        Encounters in zone: <p id="selectedEncounters"></p>
    </div>
</body>
<style>
    body{margin:0;padding:0}

    .canvasCol {
        float: left;
        width: 1245px;
        height: 720px;
    }

</style>
<script src="coordinates.js"></script>
<script src="mapinfo.js"></script>
<script src="names.js"></script>
<script src="encounters.js"></script>
<script src="script.js"></script>