table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

ul, li {
    padding: 0;
    padding-right: 5px;
    list-style: none;
}

.infoCol {
    position: absolute;
    top: 70px;
    justify-content: end;
    display: grid;
    grid-template-rows: 60px 25px;
    pointer-events: none;
}

.monSearchBar {
    pointer-events: all;
    width: 300px;
}

.location {
    pointer-events: all;
}

.stats {
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    width: 350px;
    height: 175px;
    display: grid;
}

.moveList {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
}

.trainerMon {
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    width: 515px;
    height: 280px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.trainerBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1064px;
    justify-items: center;
    padding: 10px;
    gap: 10px;
}

.monDetails {
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    width: 165px;
    height: 100%;
    display: grid;
    justify-items: center;
}

.container {
    display: grid;
}