table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

ul, li {
    padding: 0;
    padding-right: 5px;
    list-style: none;
}

.infoCol {
    position: absolute;
    top: 70px;
    justify-content: end;
    display: grid;
    grid-template-rows: 60px 25px;
    pointer-events: none;
}

.monSearchBar {
    pointer-events: all;
    width: 300px;
}

.location {
    pointer-events: all;
}
.modalBox {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    bottom: auto !important;
    transform: translate(-50%, -50%);
    background-color: var(--ifm-color-content-inverse);
    color: var(--ifm-color-content);
    padding: 16px;
    border-radius: 8px;
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    overflow-y: auto;
    width: 80%;
    max-height: 80%;
    max-width: 1200px;
}
  